@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import "mixins";
@import "variables";

body,
div,
button {
  font-family: 'Jost', sans-serif;
  color: $text-color;
  letter-spacing: 0.03em;
  background-color: $background-color;
  margin: 0px;
  overflow-x: hidden;
}

.no-scroll { 
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  all: unset;
  font-weight: 400;
  display: block;
}

@mixin header {
    &::before {
      content: '# '
    }
    font-weight: 500;
    
    &>a {
      color: $text-color;
      text-decoration: none;
      &:visited {
        color: $text-color;
      }
    }
}

.content {
  &>a{
    color: $text-color;

    &:visited {
      color: red;
    }
  }

  &>pre {
    background-color: $secondary;
    padding: $space * 2;
    border-radius: 0.5rem;
    overflow: scroll;
  }

  &>p {
    font-size: 1.2rem;

    &>a{
      color: $text-color;
  
      &:visited {
        color: $text-color;
      }
    }
  }

  &>h1 {
    @include header();
    font-size: 3rem;
  }

  &>h2 {
    @include header();
    font-size: 2rem;
  }

  &>h3 {
    @include header();
    font-size: 1.5rem;
    
  }

  &>h4 {
    @include header();
    font-size: 1.2rem;
  }

  &>h5 {
    @include header();
    font-size: 1.2rem;
  }

  &>h6 {
    @include header();
    font-size: 1.2rem;
  }
}
